.mdc-drawer {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .25s;
  z-index: 100000000;
  width: calc(100vw - 3.5rem);
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 19px 36px rgba(0, 0, 0, .28);
  &-header {
    height: 10.75rem;
    background-color: $c-primary;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .28);
    }
    &-email {
      color: #fff;
    }
  }
  &-content {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &.mdc-drawer-animate-enter {
    transform: translateX(-100%);
  }
  &.mdc-drawer-animate-enter-active,
  &.mdc-drawer-animate-enter-done {
    transform: translateX(0);
  }

}

.mdc-drawer-scrim {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .25s;
  &.mdc-drawer-scrim-animate-enter {
    transform: translateX(-100%);
    opacity: 0;
  }
  &.mdc-drawer-scrim-animate-enter-active,
  &.mdc-drawer-scrim-animate-enter-done {
    transform: translateX(0);
    opacity: 1;
  }
}