.navbar
  position fixed
  z-index 10000
  bottom 0
  left 0
  width 100%
  background-color #fff
  background-image url(../images/navbar-bg.svg)
  background-position top center
  background-repeat no-repeat
  background-size 360px auto
  &::before, &::after
    content ' '
    position absolute
    top 0
    width: 100vw
    height 1px
    background-color #ccc
  &::before
    left calc(50% + 180px)
  &::after
    right calc(50% + 180px)
  nav
    height 3.5rem
    display flex
    align-items center
    max-width 22.5em
    margin 0 auto
    ol
      width 100%
    a
      color #999
      &.current
        color #333

.fab
  position absolute
  left 50%
  top 0
  transform translate(-50%, -73.21428571%)
  width 3.5rem
  height 3.5rem
  .fab-btn
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    border-radius 50%
    background-color #666
    box-shadow 0 6px 6px rgba(0, 0, 0, .25)
    display flex
    align-items center
    justify-content center
    transition transform .25s
    border 0
    svg
      fill #fff
    &:active
      transform translate(-50%, -50%) scale(.9)
  .fab-btn-main
    width 3.5rem
    height 3.5rem
    z-index: 10
  .fab-btn-secondary
    width 2.5rem
    height 2.5rem
    z-index: 5
  .fab-btn-options, .fab-btn-options li
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
  &.open
    .fab-btn-main
      transform translate(-50%, -50%) rotate(45deg)
    .fab-btn-options li:first-child button
      transform: translate(-200%, -100%)
    .fab-btn-options li:nth-child(2) button
      transform: translate(-50%, -200%)
    .fab-btn-options li:last-child button
      transform: translate(100%, -100%)