@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
template {
  display: none;
}
details {
  cursor: pointer;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}
img {
  border: 0;
}
.img-flex,
.img-flex img {
  display: block;
  width: 100%;
}
svg {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
svg.img-flex {
  width: 100%;
  height: 100%;
}
.icon {
  display: flex;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
.icon svg,
.icon img {
  width: 100%;
  height: 100%;
}
.list-group,
.list-group-flex {
  padding: 0;
  list-style-type: none;
}
.list-group-flex {
  display: flex;
}
.hidden {
  display: none;
}
button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  color: inherit;
  text-indent: 0px;
  cursor: pointer;
  background-color: inherit;
  margin: 0;
  font: inherit;
  padding: 0;
  border-width: 0;
}
.appbar {
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.navbar {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  background-image: url("../images/navbar-bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 360px auto;
}
.navbar::before,
.navbar::after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100vw;
  height: 1px;
  background-color: #ccc;
}
.navbar::before {
  left: calc(50% + 180px);
}
.navbar::after {
  right: calc(50% + 180px);
}
.navbar nav {
  height: 3.5rem;
  display: flex;
  align-items: center;
  max-width: 22.5em;
  margin: 0 auto;
}
.navbar nav ol {
  width: 100%;
}
.navbar nav a {
  color: #999;
}
.navbar nav a.current {
  color: #333;
}
.fab {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -73.21428571%);
  width: 3.5rem;
  height: 3.5rem;
}
.fab .fab-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #666;
  box-shadow: 0 6px 6px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s;
  border: 0;
}
.fab .fab-btn svg {
  fill: #fff;
}
.fab .fab-btn:active {
  transform: translate(-50%, -50%) scale(0.9);
}
.fab .fab-btn-main {
  width: 3.5rem;
  height: 3.5rem;
  z-index: 10;
}
.fab .fab-btn-secondary {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 5;
}
.fab .fab-btn-options,
.fab .fab-btn-options li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fab.open .fab-btn-main {
  transform: translate(-50%, -50%) rotate(45deg);
}
.fab.open .fab-btn-options li:first-child button {
  transform: translate(-200%, -100%);
}
.fab.open .fab-btn-options li:nth-child(2) button {
  transform: translate(-50%, -200%);
}
.fab.open .fab-btn-options li:last-child button {
  transform: translate(100%, -100%);
}
.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}
.gutter-1-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.gutter-1-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.gutter-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.spread-left {
  margin-left: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
pre,
table,
caption,
menu {
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}
h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}
h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}
h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}
h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}
h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}
p {
  font-size: 0.875rem;
}
em {
  font-style: italic;
}
strong {
  font-weight: 500;
}
small {
  font-size: 75%;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 200;
}
@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem;
  }
}
@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}
