@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

template {
  display: none;
}

details {
  cursor: pointer;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

img {
  border: 0;
}

.img-flex,
.img-flex img {
  display: block;
  width: 100%;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

svg.img-flex {
  width: 100%;
  height: 100%;
}

.icon  {
  display: flex;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  svg, img {
    width: 100%;
    height: 100%;
  }
}
.icon-more-menu {
  @extend .icon;
  width: 12px;
}
// Lists

.list-group, .list-group-flex {
  padding: 0;
  list-style-type: none;
  li {
    display: block;
  }
}

.list-group-flex {
  display: flex;
}

.mdc-list {
  padding: .5rem;
  > li, > a, > button {
    display: flex;
    padding: .5rem;
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
    i {
      margin-right: 2rem;
    }
  }
}

// Show Hide

.hidden {
  display: none;
}

// Buttons

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb !important;
  color: inherit;
  text-indent: 0px;
  cursor: pointer;
  background-color: inherit;
  margin: 0;
  font: inherit;
  padding: 0;
  border-width: 0;
  &:focus {
    outline: none;
  }
}
