// Spacing
.island {
  padding: 1rem;
}

.island-1-1-4 {
  padding: 1.25rem;
}

.island-1-1-2 {
  padding: 1.5rem;
}

.island-2 {
  padding: 2rem;
}

.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.gutter-1-1-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.gutter-1-1-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pad-t, .pad-t-b {
  padding-top: 1rem;
}

.pad-t-1-1-4, .pad-t-b-1-1-4 {
  padding-top: 1.25rem;
}

.pad-t-1-1-2, .pad-t-b-1-1-2 {
  padding-top: 1.5rem;
}

.pad-t-2, .pad-t-b-2 {
  padding-top: 2rem;
}

.pad-b, .pad-t-b {
  padding-bottom: 1rem;
}

.pad-b-1-1-4, .pad-t-b-1-1-4 {
  padding-bottom: 1.25rem;
}

.pad-b-1-1-2, .pad-t-b-1-1-2 {
  padding-bottom: 1.5rem;
}

.pad-b-2, .pad-t-b-2 {
  padding-bottom: 2rem;
}

.push {
  margin-bottom: 1rem;
}

.push-1-2 {
  margin-bottom: .5rem;
}

.push-1-4 {
  margin-bottom: .25rem;
}

.push-1-1-4 {
  margin-bottom: 1.25rem;
}

.push-1-1-2 {
  margin-bottom: 1.5rem;
}

.push-2 {
  margin-bottom: 2rem;
}

.push-l {
  margin-left: 1rem;
}

.push-l-1-1-4 {
  margin-left: 1.25rem;
}

.push-l-1-1-2 {
  margin-left: 1.5rem;
}

.push-l-2 {
  margin-left: 2rem;
}

.push-r {
  margin-right: 1rem;
}

.push-r-1-1-4 {
  margin-right: 1.25rem;
}

.push-r-1-1-2 {
  margin-right: 1.5rem;
}

.push-r-2 {
  margin-right: 2rem;
}

.spread-top {
  margin-top: auto;
}

.spread-right {
  margin-right: auto;
}

.spread-bottom {
  margin-bottom: auto;
}

.spread-left {
  margin-left: auto;
}

.page-content {
  padding-bottom: 7rem;
}

// Width & Height

.w-1 {
  width: 100%;
}

.w-1-2 {
  width: 50%;
}

.w-1-3 {
  width: 33.3333%;
}

.w-2-3 {
  width: 66.6666%;
}

.w-1-4 {
  width: 25%;
}

.w-3-4 {
  width: 75%;
}

.w-1-5 {
  width: 20%;
}

.w-2-5 {
  width: 40%;
}

.w-3-5 {
  width: 60%;
}

.w-4-5 {
  width: 80%;
}

.h-1 {
  height: 100%;
}

.h-1-2 {
  height: 50%;
}

.h-1-3 {
  height: 33.3333%;
}

.h-2-3 {
  height: 66.6666%;
}

.h-1-4 {
  height: 25%;
}

.h-3-4 {
  height: 75%;
}

.h-1-5 {
  height: 20%;
}

.h-2-5 {
  height: 40%;
}

.h-3-5 {
  height: 60%;
}

.h-4-5 {
  height: 80%;
}